@using Microsoft.AspNetCore.Mvc.RazorPages
@using MyWeb.Common.Paging
@model PagedResult<MyWeb.Data.Models.Brand>
<table class="table header-border">
    <thead>
        <tr>
            <th></th>
            <th>STT</th>
            <th>Tên hãng</th>
            <th>Chức năng</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var brand in Model.Items)
            {
            <tr>
                <td><input type="checkbox" class="rowCheckbox" data-id="@brand.Id"></td>
                <td>@(Model.Items.IndexOf(brand) + 1)</td>
                <td>@brand.Name</td>
                <td>
                    <span>
                        <a href="javascript:void(0)" onclick="openBrandForm(@brand.Id)" data-toggle="tooltip"
                            data-placement="top" title="Sửa">
                            <i class="fa fa-pencil color-muted m-r-5"></i>
                        </a>
                        <a href="javascript:void(0)" onclick="deleteBrand(@brand.Id)" data-toggle="tooltip"
                            data-placement="top" title="Xoá">
                            <i class="fa fa-close color-danger"></i>
                        </a>
                    </span>
                </td>
            </tr>
        }

        </tr>

    </tbody>
</table>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dataTables_paginate paging_simple_numbers float-end">
            <ul class="pagination justify-content-left">
                <li class="paginate_button page-item previous @(Model.Page == 1 ? "disabled" : "")">
                    <a class="page-link" onclick="loadPage(@Model.Page - 1, @Model.PageSize)">Previous</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="paginate_button page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" onclick="loadPage(@i, @Model.PageSize)">@i</a>
                    </li>
                }

                <li class="paginate_button page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" onclick="loadPage(@Model.Page + 1, @Model.PageSize)">Next</a>
                </li>


            </ul>

        </div>
    </div>
</div>