@using Microsoft.AspNetCore.Mvc.RazorPages
@using MyWeb.Common.Paging
@model PagedResult<MyWeb.Business.Dtos.Product.ProductTableResponse>

<table class="table header-border" id="ProductTable">
    <thead>
        <tr>
            <th></th>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Thương hiệu</th>
            <th>Danh mục</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var product in Model.Items)
            {
            <tr>
                <td><input type="checkbox" class="rowCheckbox" data-id="@product.Id" /></td>
                <td>@(Model.Items.IndexOf(product) + 1)</td>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@product.CreatedAt</td>
                
                <td>
                    <span>
                        <a href="javascript:void(0)" onclick="openForm('Product','#Modal',@product.Id)" data-toggle="tooltip"
                            data-placement="top" title="Sửa">
                            <i class="fa fa-pencil color-muted m-r-5"></i>
                        </a>
                        <a href="javascript:void(0)" onclick="deleteItem('Product',@product.Id)" data-toggle="tooltip"
                            data-placement="top" title="Xoá">
                            <i class="fa fa-close color-danger"></i>
                        </a>
                    </span>
                </td>
            </tr>
        }

        </tr>

    </tbody>
</table>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dataTables_paginate paging_simple_numbers float-end">
            <ul class="pagination justify-content-left">
                <li class="paginate_button page-item previous @(Model.Page == 1 ? "disabled" : "")">
                    <a class="page-link" onclick="loadPage('Product',@Model.Page - 1, @Model.PageSize)">Previous</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="paginate_button page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" onclick="loadPage('Product',@i, @Model.PageSize)">@i</a>
                    </li>
                }

                <li class="paginate_button page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" onclick="loadPage('Product',@Model.Page + 1, @Model.PageSize)">Next</a>
                </li>


            </ul>

        </div>
    </div>
</div>